$background-color: #EBAD99 //vnesete boja;

body{
//background: //iskoristete promenliva
  background: $background-color;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}