body {
    background-color: #EFEFEF;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    border-radius: 3px;
}

h1 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.frmField {
    background-color: white;
    color: #495057;
    line-height: 1.25;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: 0;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 90%;
}

.frmLabel {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.frmValidation {
    font-size: 13px;
}

.frmValidation--passed {
    color: #717b85;
}

.frmIcon {
    color: #EB0029;
}

.frmValidation--passed .frmIcon {
    color: #0fa140;
}

.howToBuild {
    text-align: center;
    color: purple;
}

.howToBuild a {
    color: grey;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
