shades-red {
  shade: #fa0000;
  shade: #f50000;
  shade: #f00000;
  shade: #eb0000;
  shade: #e60000;
  shade: #e00000;
  shade: #db0000;
  shade: #d60000;
  shade: #d10000;
  shade: #cc0000;
  shade: #c70000;
  shade: #c20000;
  shade: #bd0000;
  shade: #b80000;
  shade: #b30000;
  shade: #ad0000;
  shade: #a80000;
  shade: #a30000;
  shade: #9e0000;
  shade: #990000;
  shade: #940000;
  shade: #8f0000;
  shade: #8a0000;
  shade: #850000;
  shade: maroon;
  shade: #7a0000;
  shade: #750000;
  shade: #700000;
  shade: #6b0000;
  shade: #660000;
  shade: #610000;
  shade: #5c0000;
  shade: #570000;
  shade: #520000;
  shade: #4d0000;
  shade: #470000;
  shade: #420000;
  shade: #3d0000;
  shade: #380000;
  shade: #330000;
  shade: #2e0000;
  shade: #290000;
  shade: #240000;
  shade: #1f0000;
  shade: #1a0000;
  shade: #140000;
  shade: #0f0000;
  shade: #0a0000;
  shade: #050000;
}
